.Footer {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    font-family: didot;
    font-weight: bold;
    border: solid 10px #ffffff;
    padding-left: 250px;
}
