
.About{
    background: rgb(255, 255, 255);
    height: auto;
    border: solid 10px #ffffff;
    text-align: center;
    padding-left: 250px;
}
.About img{
    width: 244px;
    height: 244px;
    padding-left: 50px;
}

.grupo{
    background: rgb(126, 215, 196);

}