body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap";.navbar {
  width: 100%;
  max-width: 100vw;
  background: var(--dark-blue);
  color: var(--pure-white);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--side-padding)
}
