
.product-grid {
    
    display: grid;
    /* justify-content: space-around;
    flex-wrap: wrap;
    background-color: bisque;
    flex-wrap: wrap;
    gap: 20px; */
    grid-template-columns: 0.5fr 0.5fr 0.5fr;  
    grid-template-rows: minmax(auto auto) auto minmax(auto, auto);  
    grid-auto-rows: minmax(auto, auto);  
    grid-gap: 10px; 
    padding-left: 300px;
    }
   


